---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import NetlifyIdentity from "../components/NetlifyIdentity.astro";
import PostList from "../components/PostList.astro";
const posts = await Astro.glob("./blog/*.md");
---

<Layout>
    <div class="w-full h-full flex flex-col items-center">
        <h1 class="text-4xl mb-4">Upcounty Prevention Network Blog</h1>
        <PostList posts={posts} />
    </div>
    <NetlifyIdentity />
</Layout>

<style>
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
</style>
