<footer class="w-screen relative bottom-0 mt-20">
    <hr class="w-4/5 m-auto" />
    <div class="m-auto flex items-center flex-col h-full justify-center gap-[10px] py-[3vh]">
        <ul class="footerlinks flex flex-wrap m-0 p-0 justify-center gap-[20px] list-none">
            <li>
                <a href="/">Home</a>
            </li>
            <li><a href="/pages/resources.html">Resources</a></li>
            <li><a href="/pages/contact.html">Contact Us</a></li>
            <li><a href="/pages/sponsors.html">Sponsors</a></li>
            <li><a href="/pages/legal.html">Legal</a></li>
            <li><a href="/pages/jobs.html">Jobs</a></li>
        </ul>
        <p class="text-gray-600">© 2022 Upcounty Prevention Network. 501(c)(3) nonprofit</p>
    </div>
</footer>
<style>
    .footerlinks li a {
        @apply no-underline text-blue-600 hover:underline
    }
</style>