<nav class="w-screen h-16">
    <div class="max-w-4xl w-11/12 mx-auto h-full flex items-center justify-between">
        <a href="https://upcountypreventionnetwork.org">UPN</a>
        <a href="/" class="text-lg text-center hover:text-red-400 transition-all">Go to Homepage</a>
    </div>
</nav>