---
const { posts } = Astro.props;
import PostPreview from "../components/PostPreview.astro";
//@ts-ignore
const sortedPosts = posts.sort((a, b) => new Date(b.date) - new Date(a.date));
---

<div class="w-full flex flex-col gap-4">{sortedPosts.map((post) => <PostPreview post={post} />)}</div>
