---
import BaseHead from "../components/BaseHead.astro";
import PostLayout from "../components/PostLayout.astro";
import Prose from "../components/Prose.astro";

const { content } = Astro.props;

const formatMMDDYYYY = (date) => {
    const d = new Date(date);

    const formattedDate = new Intl.DateTimeFormat("en-US", {
        year: "numeric",
        month: "long",
        day: "numeric",
    }).format(d);
    return formattedDate;
};
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={content.title || "Upcounty Prevention Network"} />
    </head>
    <body>
        <PostLayout>
            <h1 class="text-6xl">{content.title}</h1>
            <h2 class="text-3xl text-gray-400">{formatMMDDYYYY(content.date)}</h2>
            <img src={content.thumbnail} width="100%" />
            <Prose>
                <slot />
            </Prose>
        </PostLayout>
    </body>
</html>
