---
import BaseHead from "../components/BaseHead.astro";
import PostLayout from "../components/PostLayout.astro";
import Prose from "../components/Prose.astro";
import formatDate from "../utils/formatDate";
const { content } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={content.title || "Upcounty Prevention Network"} />
    </head>
    <body>
        <PostLayout>
            <h1 class="text-6xl">{content.title}</h1>
            <h2 class="text-3xl text-gray-400">{formatDate(content.date)}</h2>
            {content.thumbnail && <img src={content.thumbnail} width="100%" />}
            <Prose>
                <slot />
            </Prose>
        </PostLayout>
    </body>
</html>
